<div class="back" ui-sref="list">&lt; Back</div>

<div ng-if="item" class="item">
	<div class="details">
		<h2 ng-bind-html="item.title | untitled | trustAsHtml"></h2>
		<span class="author"><a ng-href="https://www.flickr.com/photos/{{item.author_id}}" target="_blank">{{item.author
			| extractAuthor}}</a></span>|
		<span class="published">Published: {{item.published | date:"d MMM yyyy 'at' h:mm"}}</span>
	</div>
	<div class="content">
		<a class="photo" ng-href="{{item.link}}" target="_blank"><img ng-attr-src="{{item.media.m}}"></a>
		<div class="description-tags">
			<div class="description">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer faucibus sed lorem vel mollis.
					Nullam in
					nisl et nibh pharetra rutrum. Phasellus vestibulum sodales diam, sit amet pellentesque lacus commodo
					vel.
					Quisque ut elit posuere, lobortis nulla in, condimentum diam. Nunc mi nisi, bibendum in tincidunt
					ac,
					venenatis non velit. Fusce malesuada facilisis leo, ac eleifend erat porttitor eget. In non diam id
					sapien
					convallis bibendum. Curabitur tempor pretium eleifend. Mauris semper sapien pellentesque velit
					facilisis,
					eget blandit erat feugiat. Sed mauris erat, euismod in condimentum ut, auctor eu dui.</p>

				<p>Curabitur a leo nulla. Donec vestibulum purus vel fermentum tempor. Suspendisse sit amet felis
					aliquam,
					facilisis magna eget, ultrices orci. Nulla lacinia urna sit amet augue condimentum, id convallis
					magna
					tincidunt. Aliquam pharetra porta iaculis. Nam eu tempus lacus. Nullam sed elementum augue.</p>

				<p>In hac habitasse platea dictumst. Aliquam vel consectetur erat, sit amet convallis libero. Donec
					cursus
					dui
					at vehicula dapibus. Vivamus posuere aliquet erat, eu vestibulum magna cursus vel. Vivamus quis
					rutrum
					justo. Pellentesque ultrices, ipsum in dignissim facilisis, ex sapien vulputate ex, tincidunt tempor
					purus
					leo nec nisi. Fusce posuere tellus enim, in ullamcorper neque dictum vitae. Sed nec eros rhoncus,
					luctus
					lorem ac, convallis libero. Integer vel mauris eu leo pretium sollicitudin ac id massa. Nam quis
					velit
					quis
					felis dapibus tristique a id erat. Vestibulum eget ligula ac ligula aliquet tempus a sit amet dui.
					Donec
					sapien diam, sodales vel felis in, pretium finibus dui.</p>
			</div>
			<div class="tags" ng-if="tags">Tags: <a class="tag" ng-repeat="tag in tags"
													ng-href="http://www.flickr.com/photos/tags/{{tag}}" target="_blank">{{tag}}</a>
			</div>
			<div class="tags" ng-if="!tags">No tags for this photo</div>
		</div>
	</div>

</div>
<div ng-if="!item" class="item">
	<h2>The details for the post cannot be found. Please retry from the <span ui-sref="list">list</span>.</h2>
</div>