// colour palette
$colors: (
    main:#263238,
    hint:#ECEFF1,
    link:#3F51B5,
    border:#B0BEC5,
	shadow:#333,
	light:#fff
);

// create media query string from passed values
@function breakpoint($query) {
	$loop-to: length($query);
	$media-query: "screen and ";
	$i: 1;
	@while $i <= $loop-to {
		$media-query: $media-query + "(" + nth($query, $i) + ": " + nth($query, $i + 1) + ") ";

		@if ($i + 1) != $loop-to {
			$media-query: $media-query + "and ";
		}

		$i: $i + 2;
	}
	@return $media-query;
}

// output media query to page, takes string returned from function breakpoint
@mixin media($break-point) {
	@media #{""+$break-point} {
		@content;
	}
}

// breakpoints
$bp: breakpoint(max-width 800px);

%inline-block{
    display:inline-block;
	vertical-align: top;
}
*{
    box-sizing: border-box;
}
html{
	height:100%;
}
body{
    padding:0;
    margin:0;
    font:normal 16px/normal Arial, sans-serif;
    color:map-get($colors,main);
	height:100%;
	&.list-view{
		overflow:hidden;
	}
}
a{
    color:map-get($colors,link);
	text-decoration: none;
	&:hover{
		text-decoration: underline;
	}
}
[ui-sref]{
	cursor: pointer;
}
[ui-view]{
	height:100%;
}
.search-bar{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	padding:5px;
	background:map-get($colors,hint);
	box-shadow: 0 0 5px map-get($colors,shadow);
	input[type=text]{
		border-radius:4px;
		border:1px solid map-get($colors,border);
		padding: 10px;
		width: 300px;
	}
}
.list{
	margin-top:50px;
	height:calc(100% - 50px);
	overflow-y:auto;
}
.list-item{    
    height:115px;
    border-bottom:1px solid map-get($colors,border);
	h2{
		display: inline-block;
		max-width: 100%;
		ms-text-overflow: ellipsis;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		float: left;
		margin:0.8em 0;
		color:map-get($colors,link);
		&:hover{
			text-decoration: underline;
		}
		@include media($bp){
			margin:0.5em 0;
		}
	}
    &:nth-of-type(2n){
        background:map-get($colors,hint);
    }
    .photo{
        @extend %inline-block;
        width:150px;
        height:100%;
        overflow:hidden;
        img{
            max-width:100%;
        }
    }
    .short-details{
        @extend %inline-block;
		width: calc(100% - 160px);
        padding-left:15px;
        .author,
        .published{
            margin-right: 15px;
        }
    }
	.author-published-link{
		clear:both;
		display: flex;
		flex-wrap: wrap;
	}
	.published{
		@include media($bp){
			order:-1;
			width:100%;
			padding-bottom:5px;
		}
	}
}
.item{
	padding:20px;
	.photo{
		margin-right:20px;
	}
	.details{
		padding-bottom: 20px;
	}
	.author{
		margin-right: 10px;
	}
	.tags{
		margin-top:40px;
	}
	.tag {
		margin: 0 10px 0 0;
		display: inline-block;
	}
	.content{
		display: flex;
	}
	.description{
		:first-child{
			margin-top: 0;
		}
	}
}
.no-title{
	color:map-get($colors,border);
	font-style: italic;
	padding-right: 5px;
}
.back{
	float: right;
	margin: 20px;
	background:map-get($colors,link);
	color:map-get($colors,light);
	padding:10px;
	border-radius: 4px;
}
